<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="ISWRITE" value="0"/>
    <add key="BMUCNT" value="12"/>
    <add key="SLEEP" value="5000"/>
  </appSettings>
  
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <!-- RollingLogFileAppender -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs\\log.log" />
      <param name="appendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <param name="rollingStyle" value="Date" />
      <param name="datePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%L] %-5p %c - %m%n" />
      </layout> 
    </appender>
  </log4net>
</configuration>